<!doctype html>
{% load i18n %}
{% load static %}
<html lang="en">
{% load i18n %}
<head>
{% include "frontend/header.html" %}
</head>
<body>
<div class="container">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="/accounts/password/change/" class="password_change">
        {% csrf_token %}
        <p><label for="id_oldpassword">Current Password:</label> <input id="id_oldpassword" name="oldpassword" placeholder="Current Password" type="password" required=""></p>
<p><label for="id_password1">New Password:</label> <input id="id_password1" name="password1" placeholder="New Password" type="password" required=""></p>
<p><label for="id_password2">New Password (again):</label> <input id="id_password2" name="password2" placeholder="New Password (again)" type="password" required=""></p>
        <button class="btn btn-default" type="submit" name="action">Change Password</button>
    </form>
</div>x`
</body>
</html>