<!doctype html>
{% load i18n %}
{% load static %}
<html lang="en">
{% load i18n %}
<head>
    <meta charset="utf-8">

    <title>Athena</title>
    <meta name="description" content="Legislation search and notification for activists">
    <meta name="author" content="Darla Magdalene Shockley">
<link rel='shortcut icon' type='image/x-icon' href='{% static "frontend/favicon.ico" %}' />
<link rel="stylesheet" href="{% static "frontend/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "frontend/css/extra.css" %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- TODO: this should include the header, but it doesn't work because bootstrap js breaks shit -->
</head>
<body>
<div class="container">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="/accounts/password/change/" class="password_change">
        {% csrf_token %}
        <p><label for="id_oldpassword">Current Password:</label> <input id="id_oldpassword" name="oldpassword" placeholder="Current Password" type="password" required=""></p>
<p><label for="id_password1">New Password:</label> <input id="id_password1" name="password1" placeholder="New Password" type="password" required=""></p>
<p><label for="id_password2">New Password (again):</label> <input id="id_password2" name="password2" placeholder="New Password (again)" type="password" required=""></p>
        <button class="btn btn-default" type="submit" name="action">Change Password</button>
    </form>
</div>
</body>
</html>