<!doctype html>
<html>
{% load i18n %}
{% load account %}
{% load static %}

<head>
    <meta charset="utf-8">

    <title>Athena</title>
    <meta name="description" content="Legislation search and notification for activists">
    <meta name="author" content="Darla Magdalene Shockley">
<link rel='shortcut icon' type='image/x-icon' href='{% static "frontend/favicon.ico" %}' />
<link rel="stylesheet" href="{% static "frontend/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "frontend/css/extra.css" %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- TODO: this should include the header, but it doesn't work because bootstrap js breaks shit -->
</head>

<body>
    <div class="container">
        <h1>{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
</body>
</html>