{% load static %}
<meta charset="utf-8">

<title>Athena</title>
<meta name="description" content="Legislation search and notification for activists">
<meta name="author" content="Darla Magdalene Shockley">
<link rel='shortcut icon' type='image/x-icon' href='{% static "frontend/favicon.ico" %}' />
<link rel="stylesheet" href="{% static "frontend/bootstrap.min.css" %}"/>
<link rel="stylesheet" href="{% static "frontend/extra.css" %}"/>



<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->