{% load static %}

<!doctype html>

<html lang="en">
<head>
    {% include "frontend/header.html" %}
</head>

<body>
{% include "frontend/top-navbar.html" %}

<div class="container">
<div class="col-lg-8 col-lg-offset-2">
<form method="post" action="/legis/search">{% csrf_token %}
    <div class="form-group">
        <label for="search-text"></label><input placeholder="Search text..." type="text" name="search" class="form-control" id="search-text">
    </div>
    <div class="form-group">
        <label for="place"></label><input placeholder="City or state" type="text" name="place" id="place" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="start-date">From</label><input type="text" name="meeting_date_gt" class="form-control" id="start-date" placeholder="YYYY-MM-DD">
        <label for="end-date">To</label><input type="text" name="meeting_date_lt" class="form-control" id="end-date" placeholder="YYYY-MM-DD">
    </div>
    <div class="form-group">
        {% for bill_type in bill_types %}
        <label for="bill-type-{{ bill_type }}"><input name="bill_type_{{ bill_type }}" type="checkbox" class="form-control" value="{{ bill_type }}" id="bill-type-{{ bill_type }}" checked>{{ bill_type }}</label>
        {% endfor %}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
</div>
</div>
</body>
</html>