{% load static %}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Athena</title>
    <meta name="description" content="Legislation search and notification for activists">
    <meta name="author" content="Darla Magdalene Shockley">
    <link rel="stylesheet" href="{% static "frontend/bootstrap.min.css" %}"/>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/legis/">Home</a>
        </div>
        <div class="navbar-right"><a href="/accounts/logout">Logout</a></div>
    </div>
</nav>

<div class="col-lg-8 col-lg-offset-2">
<form method="post" action="/legis/search">{% csrf_token %}
    <div class="form-group">
        <label for="search-text"></label><input placeholder="Search text..." type="text" name="search" class="form-control" id="search-text">
    </div>
    <div class="form-group">
        <label for="start-date">From</label><input type="text" name="meeting_date_gt" class="form-control" id="start-date" placeholder="YYYY-MM-DD">
        <label for="end-date">To</label><input type="text" name="meeting_date_lt" class="form-control" id="end-date" placeholder="YYYY-MM-DD">
    </div>
    <div class="form-group">
        {% for bill_type in bill_types %}
        <label for="bill-type-{{ bill_type }}"><input name="bill_type_{{ bill_type }}" type="checkbox" class="form-control" value="{{ bill_type }}" id="bill-type-{{ bill_type }}" checked>{{ bill_type }}</label>
        {% endfor %}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
</div>
</body>
</html>