{% load static %}

<!doctype html>

<html lang="en">
<head>
    {% include "frontend/header.html" %}
</head>

<body>
{% include "frontend/top-navbar.html" %}

<div class="container">
<div class="col-lg-8 col-lg-offset-2">
{% if searches %}
    <h3>Saved Searches</h3>
    <form method="post" action="/legis/saved-searches">{% csrf_token %}
    <table class="table">
    {% for search in searches %}
    <tr class="saved-search-row">
        <td><a href="/legis/search?{{ search.query_params }}">{{  search.name }}</a></td>
        <td>
            <select name="notification-search-{{ search.id }}">
                {% for option in notification_options %}
                    <option value="{{ option.0 }}" {% if search.notification == option.0 %}selected{% endif %}>{{ option.1 }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input  {% if search.notify_on_update %}checked{% endif %} type="checkbox" name="notify-updates-{{ search.id }}" id="notify-updates"><label for="notify-updates">Notify on update</label>
        </td>
        <td>
            <input type="checkbox" name="delete-{{ search.id }}" id="delete"><label for="delete">Delete</label>
        </td>
    </tr>
    {% endfor %}
    </table>
    <button class="btn btn-default pull-right" type="submit" value="Save changes">Save changes</button>
    </form>
{% else %}
    <h3>You don't have any saved searches.</h3>
{% endif %}
</div>
</div>
</body>
</html>