{% load static %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-left" href="/legis/">
                <!--TODO: Add cc notice Owl Eyes by KEN MURRAY from the Noun Project https://thenounproject.com/search/?q=owl&i=579501-->
                <img src="{% static "frontend/logo.png" %}" height="150%"/></a>
        </div>
        <div class="navbar-right navbar-text"><a class="logout-link" href="/accounts/logout">Logout</a></div>
    </div>
</nav>
