html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

.save-search-link {
    padding-left: 15px;
}

.logout-link {
    padding-right: 15px;
}

.result {
    padding-top: 20px;
}

.bottom-nav {
    padding-top: 50px;
    padding-bottom: 30px;
}

.container {
    margin-bottom: 60px;
    clear: both;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}
