html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

em {
    font-weight: bold;
    font-style: normal;
}

.save-search-link {
    padding-left: 15px;
}

.logout-link {
    padding-right: 15px;
}

.result {
    padding-top: 20px;
}

.bottom-nav {
    padding-top: 50px;
    padding-bottom: 30px;
}

.container {
    margin-bottom: 60px;
    clear: both;
}

.comment-text {
    min-height: 200px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

p {
    font-size: medium;
    padding-bottom: 7px;
    padding-top: 7px;
}

p.text-muted {
    font-size: small;
}